# App
APP_ENV='App Env Name'
SECRET_KEY='Your Secret key'
ACCESS_TOKEN_EXPIRE_MINUTES='Min value'

# Database
DB_HOST='HostName'
DB_PORT=3306
DB_NAME='database Name'
DB_USER='userName'
DB_PASSWORD='Your Password'
DATABASE_URL='Database URL'

# Email (Mailtrap for development)
# login to -https://mailtrap.io/inboxes/4408641/messages

MAIL_USERNAME='MailTrap Username'
MAIL_PASSWORD='Password'
MAIL_FROM='From Email Address'
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=587

# Frontend URL (for email verification link)
FRONTEND_URL='FrontEnd URL'

# Redis
REDIS_URL='Redis URL'

# AI Provider (add whichever you're using)
ANTHROPIC_API_KEY=your-anthropic-key-here
# OPENAI_API_KEY=your-openai-key-here

# CORS (update with your frontend URL in production)
ALLOWED_ORIGINS='frontend URL in production'